---
---
<button data-toggle-modal class="z-50 w-10 h-10 rounded-full bg-accent dark:bg-accent-dark fixed bottom-5 right-5 border-4 border-zinc-100 dark:border-zinc-900 grid place-content-center rotate-45 group">
    <svg class="text-black dark:text-white scale-90 group-hover:text-accent-light dark:group-hover:text-accent" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="currentColor"><path d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z"/></svg>
</button>
