---
import Layout from '../../layouts/Resume.astro';
---

<Layout
	title="Alex Graham's Resume"
	description="Various formats are available to download below"
	startDate={new Date('1 1 25')}
	heroImage="/projects-placeholder-about.jpg"
>
	<!-- <DefaultLayout /> -->
	<!-- <XLLayout /> -->
	<a href="01-01-2025">01-01-2025</a>
</Layout>
