---
import CertificationSection from './CertificationSection.astro'
import ContactSection from './ContactSection.astro'
import DownloadsSection from './DownloadsSection.astro'
import EducationSection from './EducationSection.astro'
import ProfileSection from './ProfileSection.astro'
import ProjectsSection from './ProjectsSection.astro'
import SkillsSection from './SkillsSection.astro'
---

<div class="xl:hidden">
    <ProfileSection />
    <hr class="border-zinc-500">
    <ContactSection />
    <hr class="border-zinc-500">
    <EducationSection />
    <hr class="border-zinc-500">
    <CertificationSection />
    <hr class="border-zinc-500">
    <ProjectsSection />
    <hr class="border-zinc-500">
    <SkillsSection />
    <hr class="border-zinc-500">
    <DownloadsSection />
</div>
