---
---

<section id="downloads" class="flex flex-col py-[1em] md:py-[2em] md:px-4 xl:items-center">
    <h5>Downloadable Formats</h5>
    <ul class="font-sans flex flex-col text-base xl:items-end w-full">
        <li class="flex gap-1">[<button class="cursor-pointer hover:underline text-accent">.pdf</button>]</li>
        <li class="flex gap-1">[<button class="cursor-pointer hover:underline text-accent">.doc</button>]</li>
        <li class="flex gap-1">[<button class="cursor-pointer hover:underline text-accent">.pages</button>]</li>
        <li class="flex gap-1">[<button class="cursor-pointer hover:underline text-accent">.md</button>]</li>
        <li class="flex gap-1">[<button class="cursor-pointer hover:underline text-accent">.txt</button>]</li>
    </ul>
</section>