---
import EducationItem from './items/PlaceOfLearning.astro'
---

<section id="education" class="flex flex-col py-[1em] md:py-[2em] md:px-4 xl:pt-0">
    <h5>Education</h5>
    <div class="text-base">
        <EducationItem
            href="https://brainstation.io/"
            place="BrainStation"
            title="Web Development Diploma"
            date="September 2022 - December 2022"
            location="Toronto, Ontario (Canada)"
        />
        <EducationItem
            href="https://www.sierracollege.edu/"
            place="Sierra College"
            title="Associates of Health Science"
            date="September 2020 - December 2021"
            location="Roseville, California"
        />
        <EducationItem
            href="https://www.sierracollege.edu/"
            place="Sierra College"
            title="Associates of Computer Science"
            date="September 2022 - Present"
            location="Roseville, California"
        />
        <EducationItem
            href="https://rvhs.ycusd.org/"
            place="River Valley High"
            title="Diploma"
            date="September 2016 - May 2020"
            location="Roseville, California"
        />
    </div>
</section>