---
---
<section id="profile" class="flex flex-col pb-[1em] md:pb-[2em] xl:py-[2em] md:px-4 xl:items-center">
    <h5>Profile</h5>
    <p class="text-base text-wrap first-letter:pl-4">
        I am passionate about solving complex problems with many creative solutions using technology. 
        My recent education at BrainStation has given me the tools, understanding, and real world problem-solving 
        experiences to add value to an engineering team. I have been continuing my education in Computer 
        Science at Sierra Community College. I am very eager to learn more and have also been exploring other 
        popular technologies and programming languages since completing my bootcamp. I am very excited to 
        begin my career in the software industry and explore it's near limitless possibilities.
    </p>
</section>