---
import SkillLink from './items/Skill.astro'
---

<section id="skills" class="flex flex-col py-[1em] md:py-[2em] md:px-4 xl:items-center">
    <h5>Skills</h5>
    <ul class="grid md:grid-cols-2 text-sm pl-4 w-full">
        <SkillLink href="/skills/@html" title="HTML" />
        <SkillLink href="/skills/@css-scss" title="CSS/SCSS" />
        <SkillLink href="/skills/@git" title="Git" />
        <SkillLink href="/skills/@javascript" title="JavaScript" />
        <SkillLink href="/skills/@dom-manipulation" title="DOM Manipulation" />
        <SkillLink href="/skills/@react" title="React" />
        <SkillLink href="/skills/@node" title="Node" />
        <SkillLink href="/skills/@express" title="Express" />
        <SkillLink href="/skills/@sql" title="SQL" />
        <SkillLink href="/skills/@agile-dev" title="Agile Development" />
        <SkillLink href="/skills/@postgres" title="Postgres" />
        <SkillLink href="/skills/@remix" title="Remix" />
        <SkillLink href="/skills/@tailwind" title="Tailwind" />
        <SkillLink href="/skills/@astro" title="Astro" />
    </ul>
</section>