---
import Layout from '../../layouts/ProjectPost.astro';
---

<Layout
	title="Private"
	description=""
	startDate={new Date('Dec 24 2025')}
	heroImage="/projects-placeholder-about.jpg"
>
	<p>
		Integer quis auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit amet.
    </p>
</Layout>
