---
import Checkbox from '../../components/settings/form/Checkbox.astro';
import ButtonToPage from '../../components/settings/form/ButtonToPage.astro';
import Input from '../../components/settings/form/Input.astro';
import Layout from '../../layouts/settings/Main.astro';
import Form from '../../layouts/settings/Form.astro';
---

<Layout>
    <section class="border rounded-lg p-3">
        <h4 class="m-0">Account</h4>
        <Form>
            <Input label="Display Name" value="" />
            <Input label="Username" value="" />
            <ButtonToPage label="Password" value="Change" />
            <Input label="Birthday" value="" />
            <Input label="Email" value="" />
            <Input label="Phone" value="" />
            <Input label="Location" value="" />
            <Input label="Website" value="" />
        </Form>
    </section>
</Layout>
